---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396?api_key=8a221fc31fcdf12a8af827465574ffc9&append_to_response=credits,external_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"f5063b6644c63f07545e469071d013df"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '10220'
      X-Memc-Expires:
      - '11380'
      X-Memc-Key:
      - 784bb2de3776b09b09db0c8e57046b8b
    body:
      encoding: UTF-8
      string: '{"backdrop_path":"/sIJyCJedGlZf1TId41gCtkblBGo.jpg","created_by":[{"id":66633,"name":"Vince
        Gilligan","profile_path":"/wSTvJGz7QbJf1HK2Mv1Cev6W9TV.jpg"}],"episode_run_time":[45,47],"first_air_date":"2008-01-19","genres":[{"id":18,"name":"Drama"}],"homepage":"http://www.amctv.com/shows/breaking-bad","id":1396,"in_production":false,"languages":["en","de","ro","es","fa"],"last_air_date":"2013-09-29","name":"Breaking
        Bad","networks":[{"id":174,"name":"AMC"}],"number_of_episodes":62,"number_of_seasons":5,"original_name":"Breaking
        Bad","origin_country":["US"],"overview":"Breaking Bad is an American crime
        drama television series created and produced by Vince Gilligan. Set and produced
        in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling
        high school chemistry teacher who is diagnosed with inoperable lung cancer
        at the beginning of the series. He turns to a life of crime, producing and
        selling methamphetamine, in order to secure his family''s financial future
        before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized,
        the series is known for positioning its characters in seemingly inextricable
        corners and has been labeled a contemporary western by its creator.","popularity":"27.4343975493607","poster_path":"/iRDNn9EHKuBhGa77UBteazvsZa1.jpg","seasons":[{"air_date":"2009-02-17","poster_path":"/AngNuUbXSciwLnUXtdOBHqphxNr.jpg","season_number":0},{"air_date":"2008-01-19","poster_path":"/dHCYpEoHEjAV6Xt3eyNthkdLRl3.jpg","season_number":1},{"air_date":"2009-03-08","poster_path":"/rCdISteF1GPvPsy0a5L0LDffjtP.jpg","season_number":2},{"air_date":"2010-03-21","poster_path":"/rINvcsYHUprsx9L8zNr5JltALda.jpg","season_number":3},{"air_date":"2011-07-17","poster_path":"/ngnE7FFQqrrLgK3yVsv3kjwtQMZ.jpg","season_number":4},{"air_date":"2012-07-15","poster_path":"/ih1JKNxEzW56azeFpEQmdu4poA4.jpg","season_number":5}],"status":"Ended","vote_average":8.9,"vote_count":37,"credits":{"cast":[{"character":"Walter
        White","credit_id":"52542282760ee313280017f9","id":17419,"name":"Bryan Cranston","profile_path":"/qXWgFCk4OJqmLRUBEj7cbp8dnkx.jpg","order":0},{"character":"Skyler
        White","credit_id":"52542282760ee3132800181b","id":134531,"name":"Anna Gunn","profile_path":"/lKlGjfmu9mJcF4upNrhtG3X9uyq.jpg","order":1},{"character":"Jesse
        Pinkman","credit_id":"52542282760ee31328001845","id":84497,"name":"Aaron Paul","profile_path":"/oTceEUb6A9Bg6DeUTJBTETUOEAy.jpg","order":2},{"character":"Hank
        Schrader","credit_id":"52542283760ee3132800187b","id":14329,"name":"Dean Norris","profile_path":"/500eNhWneDTXQuEXg6BR269IjHr.jpg","order":3},{"character":"Marie
        Schrader","credit_id":"52542283760ee31328001891","id":1217934,"name":"Betsy
        Brandt","profile_path":"/zpmsca1HCVqYrtWXV9xdmsECDTI.jpg","order":4},{"character":"Walter
        White Jr.","credit_id":"52542284760ee313280018a9","id":1223196,"name":"RJ
        Mitte","profile_path":"/hO5HJKM6p6SQjpdV8Fs64BJWzmT.jpg","order":5},{"character":"Saul
        Goodman","credit_id":"5271b180760ee35afc09bb8d","id":59410,"name":"Bob Odenkirk","profile_path":"/8Xkrpac7iYqUsO7ImMEfNlYRjfS.jpg","order":73}],"crew":[{"department":"Production","id":5162,"name":"Mark
        Johnson","job":"Executive Producer","profile_path":"/yKGF6cbzyP03Gl1QhVLCu1gWSW6.jpg"},{"department":"Production","id":29779,"name":"Michelle
        MacLaren","job":"Executive Producer","profile_path":null},{"department":"Production","id":66633,"name":"Vince
        Gilligan","job":"Executive Producer","profile_path":"/wSTvJGz7QbJf1HK2Mv1Cev6W9TV.jpg"},{"department":"Sound","id":1280070,"name":"Dave
        Porter","job":"Original Music Composer","profile_path":null}]},"external_ids":{"imdb_id":"tt0903747","freebase_id":"/en/breaking_bad","freebase_mid":"/m/03d34x8","tvdb_id":81189,"tvrage_id":18164}}'
  recorded_at: Mon, 03 Feb 2014 08:36:53 GMT
recorded_with: VCR 2.5.0
