---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/external_ids?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"985f35fb49d902cab4200ee680eae8e1"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '86402'
      X-Memc-Key:
      - 7c8188d4ff96952bbef2d9154131fe1b
      X-Varnish-Sid:
      - tm-v-p-1100
    body:
      encoding: UTF-8
      string: '{"id":1396,"imdb_id":"tt0903747","freebase_id":"/en/breaking_bad","freebase_mid":"/m/03d34x8","tvdb_id":81189,"tvrage_id":18164}'
  recorded_at: Tue, 26 Nov 2013 00:49:46 GMT
recorded_with: VCR 2.5.0
