---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/popular?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"9e5a9db5dc0d05dc1fd94a54ea3df8f8"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '46332'
      X-Memc-Expires:
      - '40070'
      X-Memc-Key:
      - 883336c066472f0c8713f1d1866eefdc
      X-Varnish-Sid:
      - tm-v-p-1200
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"backdrop_path":null,"id":57243,"original_name":"Doctor
        Who","first_air_date":"2005-03-26","poster_path":"/4a94ptIdYz0JwSzo0dCNuPCcfM8.jpg","popularity":16.5167252220739,"name":"Doctor
        Who","vote_average":7.875,"vote_count":4},{"backdrop_path":"/A9jyYzO8XEogAHV7LBxF2vWAAXj.jpg","id":1434,"original_name":"Family
        Guy","first_air_date":"1999-01-31","poster_path":"/n3UBzIx28m3FpC2EDwVJIjvPxnl.jpg","popularity":15.8371373936758,"name":"Family
        Guy","vote_average":8.125,"vote_count":4},{"backdrop_path":"/faW7Ky7j1jEn8X366oG2VpUtuvr.jpg","id":1667,"original_name":"Saturday
        Night Live","first_air_date":"1975-10-11","poster_path":"/daNm0Tx09oJ5SZSa7M744Ezi7LQ.jpg","popularity":15.1145652631489,"name":"Saturday
        Night Live","vote_average":8.33333333333333,"vote_count":3},{"backdrop_path":"/xLY0EByQwZhpHRMMPzMEoQY4Z99.jpg","id":1399,"original_name":"Game
        of Thrones","first_air_date":"2011-11-02","poster_path":"/pVC9o9LLnhuPpas0B0p9spqAxNg.jpg","popularity":13.0762885495753,"name":"Game
        of Thrones","vote_average":9.45454545454546,"vote_count":22},{"backdrop_path":"/nGzg3mn3C6fYVE0SvXHmY2XX4P2.jpg","id":1402,"original_name":"The
        Walking Dead","first_air_date":"2010-10-31","poster_path":"/5WdtVCyLCL6nwciUhZzVA8F0fMT.jpg","popularity":12.4035947906574,"name":"The
        Walking Dead","vote_average":7.72222222222222,"vote_count":9},{"backdrop_path":"/ikUfFMLSU47N9PXRGb91cO6VPFn.jpg","id":655,"original_name":"Star
        Trek: The Next Generation","first_air_date":"1987-09-28","poster_path":"/ahSthwnjI5iAsEBGT88My1CWOI1.jpg","popularity":11.6612814027631,"name":"Star
        Trek: The Next Generation","vote_average":8.25,"vote_count":4},{"backdrop_path":"/6tL4eiGmXJZI2eMWh1rgHdv58kb.jpg","id":2224,"original_name":"The
        Daily Show","first_air_date":"1996-07-22","poster_path":"/pnQmYxMlJBvnyFElFHbzsPlOUUx.jpg","popularity":10.9435689162026,"name":"The
        Daily Show","vote_average":0.0,"vote_count":0},{"back[...]
