---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1404/images?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3799231b6a27129cf206dc4f0995dabc"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '495'
      X-Memc-Expires:
      - '21105'
      X-Memc-Key:
      - 72d70953fbf07d283ad69de5c83c2c8c
    body:
      encoding: UTF-8
      string: '{"backdrops":[{"aspect_ratio":1.78,"file_path":"/TZOtHi7tP7bL34h8Z5rfkSHfGv.jpg","height":1080,"iso_639_1":null,"vote_average":0.0,"vote_count":0,"width":1920},{"aspect_ratio":1.78,"file_path":"/8NnIAmshP7UQSyW3yyHKvRjEwrW.jpg","height":1080,"iso_639_1":null,"vote_average":0.0,"vote_count":0,"width":1920},{"aspect_ratio":1.78,"file_path":"/cREoVnTRXdNOzvobDUnCjQ6k3Pt.jpg","height":720,"iso_639_1":null,"vote_average":0.0,"vote_count":0,"width":1280},{"aspect_ratio":1.78,"file_path":"/RYUFOIDsTiwq1p7WLVtFuB8MuI.jpg","height":720,"iso_639_1":null,"vote_average":0.0,"vote_count":0,"width":1280},{"aspect_ratio":1.78,"file_path":"/dX85FgA0BHrUzD9nYbWaD[...]
