---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/top_rated?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"29e11b4d427b5788a277f2e5aa120f1b"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '39115'
      X-Memc-Expires:
      - '47287'
      X-Memc-Key:
      - 5ce5c09e40253e1ff71ab3e7b0f8703a
      X-Varnish-Sid:
      - tm-v-p-1200
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"backdrop_path":"/yGW0NX3I8GXPlWPdoWWyaH0AsCk.jpg","id":1104,"original_name":"Mad
        Men","first_air_date":"2007-07-19","poster_path":"/xA2nHrx2oHGPnL4ehBwPxD0ABvb.jpg","popularity":2.15615937122719,"name":"Mad
        Men","vote_average":9.66666666666667,"vote_count":3},{"backdrop_path":"/2APnNWNDQtcKgC8lXYwtJVAyNfi.jpg","id":19885,"original_name":"Sherlock","first_air_date":"2010-07-25","poster_path":"/aCt2etumGt5aAXCyMoZALqXhnqD.jpg","popularity":1.2719927169251,"name":"Sherlock","vote_average":9.64285714285714,"vote_count":7},{"backdrop_path":"/xLY0EByQwZhpHRMMPzMEoQY4Z99.jpg","id":1399,"original_name":"Game
        of Thrones","first_air_date":"2011-11-02","poster_path":"/pVC9o9LLnhuPpas0B0p9spqAxNg.jpg","popularity":13.0762885495753,"name":"Game
       [...]
