---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5/credits?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"46811fffd020dbd64faa149dbd5480d3"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '17400'
      X-Memc-Expires:
      - '4200'
      X-Memc-Key:
      - a71e68c1eb93d11d8accdcfc29c32899
    body:
      encoding: UTF-8
      string: '{"id":5,"cast":[{"id":3122,"name":"Sammi Davis","character":"Jezebel","order":4,"cast_id":22,"profile_path":"/2m6ooKnogelqp5Qf1XvK0H3I7JY.jpg"},{"id":3123,"name":"Amanda
        de Cadenet","character":"Diana","order":5,"cast_id":23,"profile_path":"/m6poxt6GFglku6yregZH7NxElET.jpg"},{"id":3124,"name":"Valeria
        Golino","character":"Athena","order":8,"cast_id":24,"profile_path":"/kK13NzfxGQBJ8Th9SiPbu0FFJq7.jpg"},{"id":3125,"name":"Madonna","character":"Elspeth","order":12,"cast_id":25,"profile_path":"/n4KXAD2OQRkmTZd4oJ7804z8vZ7.jpg"},{"id":3126,"name":"Ione
        Skye","character":"Eva","orde[...]
