---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/now_playing?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"bea188697aa3899165167a6fcd593fad"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '13869'
      X-Memc-Expires:
      - '531'
      X-Memc-Key:
      - abd8e98260b7f7a2773616243f085135
      X-Varnish-Sid:
      - tm-v-p-1100
    body:
      encoding: UTF-8
      string: '{"dates":{"minimum":"2013-09-03","maximum":"2013-09-24"},"page":1,"results":[{"adult":false,"backdrop_path":"/7DlIoyQ3ecGMklVWyKsneZmVnsi.jpg","id":87421,"original_title":"Riddick","release_date":"2013-09-06","poster_path":"/loRoAKEVmpqeVk4lpeEqHT0gSYD.jpg","popularity":91.1891140767413,"title":"Riddick","vote_average":6.0,"vote_count":435},{"adult":false,"backdrop_path":"/aDuDdJtakSKRZfGwxo2D5hQwr3x.jpg","id":169209,"original_title":"Empire
        State","release_date":"2013-09-03","poster_path":"/zDJ162ofsBD5uCNGfm9jl1U6r4m.jpg","popularity":32.039309216009,"title":"Empire
        State","vote_average":4.8,"vote_count":21},{"adult":false,"backdrop_path":"/9JfDX9UNWuPwppHoNqi2EGdTF78.jpg","id":111190,"original_title":"Adore","release_date":"2013-09-06","poster_path":"/svVGLhrtngSrp0dVOQyuqZgM1ZC.jpg","popularity":22.43309388[...]
