---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/popular?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"775e058653a594be586fe740e25b7f65"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '12973'
      X-Memc-Expires:
      - '1427'
      X-Memc-Key:
      - eb13032fb1ef09086dcaac2d14c098c0
      X-Varnish-Sid:
      - tm-v-p-1100
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/qEdrjpN74WGQ105xdq05HXsX6QW.jpg","id":109414,"original_title":"This
        Is the End","release_date":"2013-06-12","poster_path":"/1rMzHyOsk1b1ddcFJgMSB6kOASu.jpg","popularity":101.129869340641,"title":"This
        Is the End","vote_average":6.6,"vote_count":285},{"adult":false,"backdrop_path":"/pN2qlJjAwXAA1PEz01SYMNe01SZ.jpg","id":82700,"original_title":"After
        Earth","release_date":"2013-05-30","poster_path":"/pUCK62aHDUJYcCXUvdMKkr3dJmx.jpg","popularity":99.7544671630982,"title":"After
        Earth","vote_average":5.2,"vote_count":389},{"adult":false,"backdrop_path":"/7DlIoyQ3ecGMklVWyKsneZmVnsi.jpg","id":87421,"original_title":"Riddick","release_date":"2013-09-06","poster_path":"/loRoAKEVmpqeVk4lpeEqHT0gSYD.jpg","popularity":91.18911407[...]
