---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5/trailers?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"fa273f670e8ea5eb602f330228571526"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '15497'
      X-Memc-Expires:
      - '70905'
      X-Memc-Key:
      - e25f2806e5038cfa9e02eed0c6e629a5
      X-Varnish-Sid:
      - tm-v-p-1100
    body:
      encoding: UTF-8
      string: '{"id":5,"quicktime":[],"youtube":[{"name":"Trailer 1","size":"Standard","source":"Rieq_TR7cV0"}]}'
  recorded_at: Fri, 20 Sep 2013 14:34:52 GMT
recorded_with: VCR 2.5.0
