---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/company/5/movies?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"7e7bb7901735ecb73ae01814b9bd93f8"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '23690'
      X-Memc-Expires:
      - '62712'
      X-Memc-Key:
      - 173e9b62da07144664ebc85ea8162b61
      X-Varnish-Sid:
      - tm-v-p-1200
    body:
      encoding: UTF-8
      string: '{"id":5,"page":1,"results":[{"adult":false,"backdrop_path":"/6SGePsBXhRWDZ4Q7W3gvyc4glql.jpg","id":97020,"original_title":"RoboCop","release_date":"2014-02-07","poster_path":"/xxLhczZMiJt1iRdhfkVkuMu87si.jpg","popularity":3.13451193740971,"title":"RoboCop","vote_average":10.0,"vote_count":1},{"adult":false,"backdrop_path":"/4obt4AR0GTv3UHirv0gsn26KdgB.jpg","id":43199,"original_title":"The
        Eddy Duchin Story","release_date":"1956-06-21","poster_path":"/k5Ps1sAPZzTE8CUYu7h8I6q4WFN.jpg","popularity":0.368,"title":"The
        Eddy Duchin Story","vote_average":10.0,"vote_count":1},{"adult":false,"backdrop_path":"/dtfNOb332IaJlQoShW6lvyDqmRq.jpg","id":35692,"original_title":"The
        Black Knight","release_date":"1954-08-26","poster_path":"/pfuNXf19lIVRwAGIq1FnhbupMsa.jpg","[...]
