---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/latest?api_key=8a221fc31fcdf12a8af827465574ffc9&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"701692071003f98e79714d7d25515630"'
      Last-Modified:
      - '2015-10-08 12:16:55 +0000'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1444307344'
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"","id":363077,"imdb_id":"tt1105397","original_language":"en","original_title":"Trigon
        Fire","overview":"Phillipino War Movie","popularity":0.0,"poster_path":"/eRyhaNkCDgDFqN31xR7C7PLF7oA.jpg","production_companies":[],"production_countries":[],"release_date":"1989-01-01","revenue":0,"runtime":90,"spoken_languages":[],"status":"Released","tagline":"","title":"Trigon
        Fire","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Thu, 08 Oct 2015 12:28:54 GMT
recorded_with: VCR 2.9.3
