---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/latest?api_key=8a221fc31fcdf12a8af827465574ffc9&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"879939c700e96ed7f6621a16ea62fd88"'
      Last-Modified:
      - '2015-10-15 09:17:17 +0000'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1444900704'
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"","id":363962,"imdb_id":"tt2771374","original_language":"en","original_title":"I
        Am Victor","overview":"Centers on Victor Port, a high-powered divorce attorney
        with a unique view of relationships.","popularity":0.0,"poster_path":null,"production_companies":[],"production_countries":[],"release_date":"","revenue":0,"runtime":0,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"I
        Am Victor","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Thu, 15 Oct 2015 09:18:14 GMT
recorded_with: VCR 2.9.3
