---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/latest?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="8a221fc31fcdf12a8af827465574ffc9"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"799974ec15f4e83bae53fcf76034c60e"'
      Last-Modified:
      - '2015-09-29 09:05:23 +0000'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1443517897'
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":1500,"genres":[{"id":12,"name":"Adventure"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":null,"id":361942,"imdb_id":"tt5065072","original_language":"de","original_title":"Krimi
        unter Teck - Spur in die Vergangenheit","overview":null,"popularity":0.0,"poster_path":"/2p1DATAjNSJvqJfMssYwSgtGO0e.jpg","production_companies":[{"name":"Last
        Salvation Records","id":64440},{"name":"HotRoad Film & Videoproduktion","id":64441}],"production_countries":[{"iso_3166_1":"DE","name":"Germany"}],"release_date":"","revenue":0,"runtime":null,"spoken_languages":[{"iso_639_1":"de","name":"Deutsch"}],"status":"Released","tagline":null,"title":"Krimi
        unter Teck - Spur in die Vergangenheit","video":true,"vote_average":10.0,"vote_count":1}'
  recorded_at: Tue, 29 Sep 2015 09:11:34 GMT
recorded_with: VCR 2.9.3
